[flake8]
exclude =
    venv,
    .venv,
    .git,
    __pycache__,
    .pytest_cache,
    .tox,
    *.egg-info,
    dist,
    build,
    .eggs,
    src/experimental/*
max-line-length = 256
max-complexity = 10
